header {
    position: relative;
}

.palavra-home {
    position:absolute;
    font-family: "Shadows Into Light", cursive;
    font-size: 1rem;
    font-weight: bold;
    color: #D5447E;
}

.eficiencia {
    top: 18%;
    left: 63%
}
.boas-praticas {
    top: 10%;
    right: 78%;
}
.codigo-limpo {
    top: 8%;
    right: 5%;
}
.css3 {
    top: 70%;
    right: 90%;
}
.html5 {
    top: 56%;
    right: 7%;
}
.javascript {
    bottom: 60%;
    left: 29%;
}
.acessibilidade {
    bottom: 92%;
    right: 22%;
}
.responsivo {
    top: 3%;
    left: 5%
}
.otimizacoes {
    top: 46%;
    left: 10%;
}
.agilidade {
    top: 80%;
    right: 17%;
}
.design {
    top: 39%;
    right: 26%;
}

.blog {
    position: relative;
}

.blog .inicio-post {
    position: absolute;
    top: 4em;
    height: 8em;
    left: 30%;
    right: 4em;
    background-color: #F2FFFC;
    color: #000;
    padding: 1.5em;
}
.blog .mais-recente {
    background-color: #F2FFFC;
}
.blog .mais-recente a {
    color: #F26;
}

.blog li {
    width: 30%;
}

.foto-home {
    height: 200px;
}

.subtitulo-principal {
    font-size: 0.35em;
}
.saudacao p {
    font-size: 1.5em;
    color: #99A;
    line-height: 1;
    padding: 2em;
}
.saudacao-inicio {
    font-size: 3em;
    color: #889;
}
.saudacao-ultima-linha {
    text-align: right;
    display: block;
}
.saudacao strong {
    font-size: 2em;
    color: #000;
}
.saudacao em {
    font-size: 4em;
    color: #851944;
}
.botao-index {
    background-color: #851944;
    color: #FFF;
    border: .2em solid black;
    width: 40ch;
    padding: .5em;
    border: .2em solid black;
    margin: 2em auto;
    display: block;
    text-align: center;
}
.secao-inicio  {
    padding: 2em;
}

.secao-inicio h2 {
    font-size: 3em;
    text-shadow: 2px 2px #000;
    text-transform: uppercase;
    margin-bottom: .5em;
}
.trabalhos {
    background-color: #3C1D3D;
    border-top: .5em solid #000;
    border-bottom: .5em solid #000;
}
.trabalhos h2 {
    color: #FFF;
}
.trabalhos ul {
    overflow: hidden;
    border: .5em solid black;
}
.trabalhos li {
    float: left;
    width: 33.333%;
}
.trabalhos img {
    width: 100%;
    display: block;
}
.blog {
    background-color: #999;
    color: #FFF;
    border-bottom: .5em solid #851944;
}
.blog small {
    position: relative;
    top: -2em;
}
.blog li a {
    color: #FCF;
    padding: .5em;
    display: block;
}
footer {
    background-color: #000;
    color: #FFF;
}
footer h2 {
    font-size: 3em;
}
footer a {
    color: #F99;
}
main {
    width: 100%;
    padding-bottom: 0;
    float: none;
}
